body, form, ul, li, td{margin: 0; padding: 0; font-size: 12px; color: #333333; font-family: Helvetica, Corbel, Verdana, Arial, sans-serif;}

body{
	background-color:#FFFFFF;
}

li,ul{
	list-style: none;
}

h1{color:#CC0000; font-size:24px; margin:0px; padding:0px;}

input,textarea{
	border:1px solid #ccc; background-color:#FFF;
}

a {font-size: 12px; text-decoration: none; color:#333;}

a:hover { text-decoration: underline; color: #4E667B;}

#header_top{
	width:960px;
	background:#ffffff;
}
#header_top .L{
	width:9px;
	height:30px;
	background:#ffffff;
}
#header_top .R{
	width:7px;
	height:30px;
	background:#ffffff;
}

#header{
	clear:both;
	width:960px;
	margin-top:8px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

#guide{
	width:960px;
	clear:both;
	margin-top:8px;
	height:31px;
	background: #ffffff; 
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#guide .L{
	height:31px;
	width:10px;
	background:#ffffff;
	float:left;
}
#guide .C span a{
	font-size:14px;
	color:#FAFAFA;
	font-weight:bold;
	letter-spacing:1px;
}
#guide .C span{
	float:left;
	height:22px;
	padding:9px 15px 0px 10px;
	background:#ffffff;
}
#guide .R{
	float:right;
	height:23px;
	text-align:right;
	padding-right:15px;
	padding-top:8px;
	background: #ffffff;
}
#guide .R a{
	background:url(flea_dot.gif) no-repeat 0px 0px;
	padding-left:19px;
	font-size:14px;
	color:#fff;
	margin-right:5px;
}


.MainTable{
	margin-top:0px;
	width:960px;
	clear:both;
}

.dragTable{
	width:100%;
	margin-top:2px;
	overflow:hide;
	border:0px solid #ffffff;
}

.dragTable .link a{ font-size:13px;}
.dragTable .link span{ font-size:13px; margin:0px 5px; color:#999;}

.dragTable .TAG{
	float:left;
	color:#247384;
	font-weight:bold;
	padding:9px 5px 0 0px;
	height:21px;
	font-size:13px;
}
.dragTable .TAG a{
	color:#247384;
	font-size:13px;
}
.dragTable .more{
	float:right;
	padding-right:1em;
	padding-top:8px;
}
.dragTable .more a{
	color:#666;
}

.dragTable .head{

	height:25px;
	padding-top:0px;
	border:0px #FFF solid;
	

}

.dragTable .head .L{
	width:30px;
	height:30px;
	margin-left:0px;
	float:left;
    border_bottom-width:8px;
	border_bottom-style:dotted;
	border-bottom-color:cccccc;
       width:110px;

}

.dragTable .list_title{
	text-indent:10px;
	padding-top:1px;
	padding-right:5px;
	overflow:hidden;
	line-height:100%;
	text-overflow:ellipsis;
	white-space:nowrap;
				border-bottom:1px #cccccc dotted;


	

}
.dragTable .list_title a{
	font-size:13px;
	   
}

.dragTable .list_title_r{
	text-align:right;
	font-size:13px;
	color:#993300;
	padding-right:9px;
	border-bottom:1px #cccccc dotted;
	
}

.dragTable .middle{
	padding:6px 1px 4px 7px;
	/*height:50px;*/
	line-height:25px;
	border:1px solid #D0D0D0;
	border-top:0px solid #D0D0D0;
}

#IndexMainNews .L{
	height:70px;
	width:4px;
	background:url(topnews_a1.gif) no-repeat top;
}

#IndexMainNews .C{
	background:url(topnews_a2.gif) repeat-x top;
	line-height:150%;
}

#IndexMainNews .R{
	width:4px;
	background:url(topnews_a3.gif) no-repeat top;
}

#IndexMainNews{
	border-bottom:1px solid #E3E3E3;
}

#IndexMainNews .list_title{
	background:url(iicon1.gif) no-repeat 9px 9px ;
	text-indent:24px;
	padding-top:2px;
	padding-right:9px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	line-height:25px;
}
#IndexMainNews .list_title a{
	font-size:13px;
}

#IndexMainNews .list_title_r{
	text-align:right;
	font-size:13px;
	color:#993300;
	padding-right:9px;
}

#IndexMainNews .top{
	padding:15px 8px 5px 8px;
}

#IndexMainNews .top a{
	color:#D50000;
	font-size:16px;
	font-weight:bold;
}

#IndexMainNews .D{border-bottom:1px dotted #ccc;line-height:150%;color:#929292; padding:0px 8px 8px 8px; margin-bottom:4px;}

.top_r_ad{background-color:#f2f6fb; border:1px solid #b0d7ff; height:56px; width:240px; overflow:hidden; padding: 2px 5px; line-height:150%;}

.box{border:1px solid #CCC;}

.so{border:1px solid #CCC; padding:8px;}

.red12{color:#FF0000;}

.zoom{font-size:14px; line-height:170%;}

.nav{margin-bottom:8px; background-color:#F5F5F5; height:28px; margin-top:0px; width:960px; clear:both;}

.tit{border:1px solid #CCC; margin-top:8px;}
.tit_b{background-color:#F5F5F5; padding:8px; font-size:13px;}
.tit_c{padding:8px;}

.downURL{border:1px solid #CCC; padding:8px; margin:8px; width:200px;}
.downURL a{font-size:14px; color:#0000FF; text-decoration: underline;}

.soft_s, .a_tit{ padding-bottom:8px; border-bottom:1px solid #CCC; text-align:center; margin-bottom:8px;}

.a_kk{color:#666; text-align:center; margin-top:8px;}
.a_des{background-color:#F5F5F5; padding:8px; margin-bottom:8px;}
.a_ad{margin:20px 0px; text-align:center;}
.a_vote{ text-align:center; border-bottom:1px solid #CCC; margin-bottom:8px; padding-bottom:8px;}
.a_pn, .a_pn a{font-size:15px; line-height:170%;}
.a_class{ width:138px; padding:8px; border:1px solid #CCC; background-color:#F5F5F5; text-align:center; font-size:13px; overflow:hidden;}
.list_pn {font-size:12px; line-height:120%;}

.buttons{margin:20px 12px 12px;text-align:center;}
.buttons img{margin:0 12px 0 0;}

.ding-Out{width:189px; height:48px; background-image:url(ding.gif); background-position:0px 0px; cursor:pointer; }
.ding-Over{width:189px; height:48px; background-image:url(ding.gif); background-position:-189px 0px; cursor:pointer; }
.cai-Out{width:189px; height:48px; background-image:url(cai.gif); background-position:0px 0px; cursor:pointer;}
.cai-Over{width:189px; height:48px; background-image:url(cai.gif); background-position:-189px 0px; cursor:pointer;}

.ding-bar{width:55px;height:5px;border:1px solid #40a300;background-color:#fff;overflow:hidden;text-align:left;}
.ding-bar div{background-color:#40a300;}
.cai-bar{width:55px;height:5px;border:1px solid #555555;background-color:#fff;overflow:hidden;text-align:left;}
.cai-bar div{background-color:#555555;}
#barnum1, #barnum2{font:400 10px/12px arial;color:#333;}

.vcode{cursor:pointer;}

.ly_head{border:1px solid #CCC; padding:8px; background-color:#F5F5F5; margin-left:8px;}
.ly_head input{border:0px; background-color:#F5F5F5;}
.ly_gg{background-color:#F5F5F5; padding:8px; margin:8px 0px; font-size:13px;}
.ly_bhead{border:1px solid #CCCCCC; padding:2px; width:100px; margin-bottom:8px;}
.ly_ll{text-align:right; color:#666666; padding-bottom:8px; padding-top:8px;}
.ly_rr{color:#0000FF; font-size:14px; font-weight:bold; text-align:right;}
.ly_cc{font-size:14px; line-height:170%;}
.ly_bb{border-bottom:1px solid #CCC; margin-bottom:8px;}
.ly_ask{color:#FF0000; border:1px dotted #CCC; padding:8px; margin-top:8px;}

.page_nav{ font-size:12px; line-height:30px;}
.page_nav a{ font-size:12px; padding:5px 10px 5px 10px; text-decoration:none; border:1px solid #CCCCCC; background-color:#F5F5F5;}
.page_nav a:hover{  font-size:12px;color:#FF0000; text-decoration:none; background:#FFFFFF; border:1px solid #0000FF;}

.s_tit a{color:#0000FF; font-size:14px; text-decoration:underline;}
.s_kk { color:#666;}
.s_des{ border-bottom:1px dotted #CCC; margin-bottom:8px; margin-right:8px; line-height:150%; padding-bottom:8px;}

.listimg{border:1px solid #CCC; padding:2px;}

.about{padding:8px; border:1px solid #CCC; background-color:#F5F5F5; text-align:center;}

.foot{padding:8px; text-align:center; line-height:25px;}